<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bibekster: Data analytics</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
    <header>
      <div class="logo">
        <i class="fas fa-database"></i> Your Data, we manipulate
      </div>
      <nav>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
        <a href="javascript:void(0);" class="toggle" onclick="changeContent()">Sign Up</a>
      </nav>
    </header>
    <main>
      <section id="about">
        <h2>About Us</h2>
        <p>
          We are data analytics, we analyze the data!
        </p>
      </section>
      <section id="services">
        <h2>Services</h2>
        <p>
          We offer a variety of data analysis to bring your ideas to
          life.
        </p>
      </section>
      <section id="user">
        <div id="userlogin">
        <h2>Sign In</h2>
        <form action="submit_form1" method="post">
          <label for="name">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            required
          /><br /><br />

          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
          /><br /><br />
          <input type="submit" value="sign in" />
        </form>
    </div>
        <!-- The content to be shown for Sign Up -->
        <div id="usersignup">
            <h2>Sign Up Form</h2>
            <form action="/submit_form2" method="post">
                <label for="username">Username:</label>
                <input
                  type="text"
                  id="username"
                  name="username"
                  required
                /><br /><br />
      
                <label for="password">Password:</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  required
                /><br /><br />
                <input type="submit" value="sign up" />
              </form>
        </div>
        
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Bibekster Inc. All rights reserved.</p>
    </footer>
    <script src="/static/script.js"></script>
  </body>
</html>
